/Leccion1/Ejercicio1/nbproject/private/
/Leccion1/Ejercicio1/build/
/Leccion1/rectangulo/nbproject/private/
/Leccion1/rectangulo/build/
/Leccion1/ejercicio5/nbproject/private/
/Leccion1/ejercicio5/build/
/Leccion1/ejercicio6/nbproject/private/
/Leccion1/ejercicio6/build/
/Leccion1/ejercicio7/nbproject/private/
/Leccion1/ejercicio7/build/
/Leccion1/Leccion2/nbproject/private/
/Leccion1/Leccion2/build/
